<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="'My Store :: ' + (${title} ?: 'Welcome.')">My Store</title>

    <!-- Style CDN -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- JS CDN -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>

    <!-- 개별 페이지들 만을 위해 각자의 CDN을 넣어줄 빈칸-->
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="js"></th:block>

</head>
<body class="bg-dark">
    <!-- header 를 배치 -->
    <th:block th:replace="common_fragments::header"></th:block>

    <!-- content fragment를 이곳에 배치하도록 block 만들기 -->
    <th:block layout:fragment="content" class="bg-light"></th:block>

    <!-- footer 를 배치 -->
    <th:block th:replace="common_fragments::footer"></th:block>
</body>
</html>







